{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>清风自来-科技与艺术</title>
    <meta name="keywords" content="科技,阅读,文艺,html,css,javascript,python">
    <meta name="description" content="清风自来，为你分享互联网技术资讯，和你一起学习python，学习前端开发，学习html&css&javascript，和你一起欣赏美文">
    <meta name="author" content="jmlin">
    <link rel="shortcut icon" href="{% static '/myfirstweb/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/myfirstweb/css/semantic.css' %}">
    <link rel="stylesheet" href="{% static '/myfirstweb/css/style.css' %}">
    <script src="{% static '/myfirstweb/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/myfirstweb/js/semantic.js' %}"></script>
    <script src="{% static '/myfirstweb/js/mine.js' %}"></script>
    <!--[if lt IE 9]>alert("本站不对IE9以下浏览器提供支持，为了您更好的体验本站功能建议您更换其他浏览器！")；<![endif]-->
</head>

<body>
    <span name="gotop"></span>
    <div class="ui container">
        <span><a style="color: black;" href="javascript:;" id="slidewin">收藏本站</a></span>
    </div>
    <!-- header -->
    <div class="ui attached stackable menu">
        <div id="shadow" class="ui container">
            <a class="ui simple  item" href="index.html">
              <img class="ui image item" src="{% static 'myfirstweb/images/logo.png' %}" alt="清风自来">清风自来
            </a>
            <div class="ui simple  item">
                <a href="" style="color: black;">&nbsp;&nbsp;Python&nbsp;&nbsp;</a>
            </div>
            <div class="ui simple  item">
                <a href="" style="color: black;">&nbsp;&nbsp;&nbsp;&nbsp;Web&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div class="ui simple  item">
                <a href="photos.html" style="color: black;">美图欣赏</a>
            </div>
            <div class="ui simple  item">
                <a href="" style="color: black;">如诗远方</a>
            </div>
            <div class="ui simple dropdown item">
                其他····
                <i class=" icon"></i>
                <div class="menu">
                    <a class="item"><i class="setting icon"></i> 版本</a>
                </div>
            </div>
            <div class="right item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
                <a class="ui button item">登录</a>
            </div>
        </div>
    </div>
    <!-- <div class="ui hidden divider"></div> -->
    <!-- ads -->
    <!-- <div class="ui top banner test ad container" data-text="Top Banner"></div> -->
    <div class="ui hidden divider"></div>
    <!-- container -->
    <div class="ui two column grid container">
        <!-- main -->
        <div class="eleven wide column">
            <div class="ui segment container">
                <div class="ui items">
                    {% for article in articles %}
                    <div class="item">
                        <div class="ui small image">
                            <img src="{{ article.aimage.url }}">
                        </div>
                        <div class="content">
                            <div class="header"><a href="{% url 'myfirstweb:article_page' article.id %}" target="_blank">{{ article.aheadline }}</a></div>
                            <div class="meta">
                                <span class="price">{{ article.atag }}</span>
                                <span class="stay">{{ article.atime }}</span>
                            </div>
                            <div class="description">
                                <p>{{ article.adescription | truncatewords:"50"  }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                    {% endfor %}
                </div>
                <div class="ui pagination menu">
                    <a class="disabled item">
                        <
                    </a>
                    <a class="active item">
    					1
  					</a>
                    <a class="item">
	   					2
	  				</a>
					<a class="item">
	   					3
	  				</a>
	  				<a class="item">
	   					4
	  				</a>
                    <div class="disabled item">
                        ...
                    </div>
                    <a class="item">
	   					10
	  				</a>
                    <a class="item">
	    				11
	  				</a>
                    <a class="item">
	    				12
	  				</a>
                    <a class="item">
	   					>
	  				</a>
                </div>
            </div>
        </div>
        <!-- right -->
        <div class="five wide column">
            <div class="ui segment container">
                <!-- userInfo -->
                <div class="ui card">
                    <div class="content">
                        <img class="right floated mini ui image" src="{% static 'myfirstweb/images/users/stevie.jpg' %}">
                        <div class="header">Elliot Fu </div>
                        <div class="meta">Friends of Veronika </div>
                        <div class="description">Elliot requested permission to view your contact details </div>
                    </div>
                    <div class="extra content">
                        <a><i class="user icon"></i> 22 Friends </a>
                    </div>
                </div>
                <div class="ui divider"></div>
                <!-- categories -->
                <div class="ui relaxed divided list">
                    <div class="ui medium header">中型标题</div>
                    <div class="item">
                        <i class="large github middle aligned icon"></i>
                        <div class="content">
                            <a class="header">lorem title lorem</a>
                            <div class="description">Updated 10 mins ago</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large github middle aligned icon"></i>
                        <div class="content">
                            <a class="header">lorem title lorem</a>
                            <div class="description">Updated 10 mins ago</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large github middle aligned icon"></i>
                        <div class="content">
                            <a class="header">lorem title lorem</a>
                            <div class="description">Updated 10 mins ago</div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui relaxed divided list">
                    <div class="ui medium header">中型标题</div>
                    <div class="item">
                        <i class="large github middle aligned icon"></i>
                        <div class="content">
                            <a class="header">lorem title lorem</a>
                            <div class="description">Updated 10 mins ago</div>
                        </div>
                    </div>
                    <div class="item">
                        <i class="large github middle aligned icon"></i>
                        <div class="content">
                            <a class="header">lorem title lorem</a>
                            <div class="description">Updated 10 mins ago</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ads -->
            <div class="ui large rectangle test ad" data-text="ads"></div>
        </div>
    </div>
    </div>
    <div class="ui hidden divider"></div>
    <!-- footer -->
    <div id="footer" class="ui vertical attached footer segment">
        <div class="ui container">
            <div class="ui divided equal height stackable grid">
                <div class="two wide column">
                    <span style="font-size: 15px;">关于</span>
                    <div class="ui link list">
                        <a href="#" class="item">联系我们</a>
                        <a href="#" class="item">版权声明</a>
                        <a href="#" class="item">广告合作</a>
                    </div>
                </div>
                <div class="three wide column">
                    <span style="font-size: 15px;">友情链接</span>
                    <div class="ui link list">
                        <a href="https://originspace.cn/" target="_blank" class="item">本源空间</a>
                        <a href="#" class="item">其他</a>
                        <!--
                        <a href="#" class="item">其他</a>
                        <a href="#" class="item">其他</a> -->
                    </div>
                </div>
                <!-- ads -->
                <div class="four wide column">
                    <span style="font-size: 15px;">精心推荐</span>
                    <div class="ui link list">
                        <a href="https://originspace.cn/" target="_blank" class="item">本源空间</a>
                        <a href="#" class="item">其他</a>
                        <!-- <a href="#" class="item">其他</a>
                        <a href="#" class="item">其他</a> -->
                    </div>
                </div>
                <div class="seven wide column">
                    <span>&copy;2018&nbsp;&nbsp; 清风自来&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" target="_blank" style="color: black;">苏ICP备17021155号-2</a></span>
                    <div class="ui equal  grid">
                        <div id="allShow" class="two wide column">
                            <span id="show"><img src="{% static 'myfirstweb/images/wechat.jpg' %}" alt="扫一扫微信支付"></span>
                            <img id="hide" src="{% static 'myfirstweb/images/donate.png' %}" alt="捐助 - 清风自来">
                        </div>
                        <div id="allShow" class="two wide column">
                            <span id="show"><img src="{% static 'myfirstweb/images/wechat_app.jpg' %}" alt="扫一扫关注微信公众号"></span>
                            <img id="hide" src="{% static 'myfirstweb/images/wechat.png' %}" alt="微信扫码 - 清风自来">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
    </div>
    <!-- gotoTop -->
    <a href="#gotop">
       <img src="{% static 'myfirstweb/images/go-to-top.png' %}" id="gotop" alt="Top">
    </a>
    <!-- gotoTop-js -->
    <script>
	    $(function() {
	        $(function() {
	            $(window).scroll(function() {
	                if ($(window).scrollTop() > 100) {
	                    $("#gotop").fadeIn(600); //600ms渐入动画
	                } else {
	                    $("#gotop").fadeOut(600); //600ms渐隐动画
	                }
	            });

	            $("#gotop").click(function() {
	                $('body,html').animate({ scrollTop: 0 }, 600);
	            });
	        });
	    });
    </script>
</body>
</html>
